<div class= container id="formContainer">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <br><br>
        <label for="empId">Employ ID</label><br>
        <input type="text" id="empId" class="form-group-sm" ngModel name="empId"><br>

        <label for="empFirst">Employ first name</label><br>
        <input type="text" id="empFirst" class="form-group-sm" ngModel name="empFirst"><br>

        <label for="empLast">Employ last name</label><br>
        <input type="text" id="empLast" class="form-group-sm" ngModel name="empLast"><br>

        <label for="empRoll">Employ last name</label><br>
        <input type="text" id="empRoll" class="form-group-sm" ngModel name="empRoll"><br><br>

        <button class="btn btn-primary" id="submit" type="submit" name="submit" >Add</button>
      </div>
    </form>
</div>