<div class="sideBar">
    <div class="logo">
        <a href="#" class="logoPic"></a>
    </div>
    <div class="menuItem" routerLinkActive="menuItemSelected">
        <a class="link"  [routerLink]="['/layout']">Layout</a>
    </div>
    <div class="menuItem" routerLinkActive="menuItemSelected">
        <a class="link"[routerLink]="['/menu']">Menu</a>
    </div>
    <div class="menuItem" routerLinkActive="menuItemSelected">
        <a class="link" [routerLink]="['/kitchen']">Kitchen</a>
    </div>
    <div class="menuItem" routerLinkActive="menuItemSelected">
        <a class="link" [routerLink]="['/stock']">Stock</a>
    </div>
    <div class="menuItem" routerLinkActive="menuItemSelected">
        <a class="link" [routerLink]="['/staff']">Staff</a>
    </div>

</div>